.head{
  font-size: 3rem;
  margin: 3rem 1rem;
}
form{
  display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
}
mat-form-field{
  width: 40%;
}
mat-spinner{
  margin:auto;
}
